input:focus{
  outline: none;
}
button:focus{
  outline: none;
}
.bottomBar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20vh;
  background-color: var(--hive-black);
  justify-content: space-between;
  align-items: center;
}
.inputAndHintContainer{
  display: flex;
  border: 1px solid var(--hive-yellow);
  height: 50%;
  width: 20%;
  align-items: center;
  justify-content:center;
  border-radius: 8px;
  box-shadow: 0 0 0 8px rgba(255, 193, 7, 0.3);
}
.bottomButton{
  position: relative;
  width: 100px;
  height: 115px;
  background: var(--hive-yellow);
  border: none;
  cursor: pointer;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);/*  hexagon shape */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  transition: all 0.3s;
  justify-self: center;
  margin: 200px; /* find a better way to do this */
}


