.mainContainer {
  width: 100vw;
  height: 5vh;
  min-height: 60px;
  background: linear-gradient(to bottom, black, var(--hive-charcoal));
  display: grid; /*Using grid so space itemsn evenly in 3 chunks: left middle and right*/
  grid-template-columns: 1fr auto 1fr; 
  align-items: center;
  overflow: hidden;
}

/* Left group - aligns left */
.logoTitleStreakName {
  display: flex;
  align-items: center;
  justify-self: start; 
  height: 100%;
  width: 100%
}
.logoContainer {
  position: relative; 
  height: 100%;
  width: 80px; 
}
.title{
  color: var(--hive-yellow);
  font-size: clamp(1.5rem, 2vw, 2rem);
}
.nameStreakContainer {
  display: flex;
  flex: 1;
  /* justify-content: center;  */
  align-items:center; 
  gap: 100px;
  margin-left: 50px;
}
.streakContainer{

}
.nameContainer{

}

/* Center - aligns center */
.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.statValue{
  color: gray;
  font-size: 1.5rem;
}
.statTitle{
  color: var(--hive-yellow);
}
.verticalDevider{
  width: 1px;
  height: 2rem;
  background-color: var(--hive-graphite);
}
/* Right group - aligns right */
.leaderboardAndShareContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center; /* Aligns its content to right */
}
.modeSelectContainer{
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  /* border: 1px var(--hive-yellow) solid; */
  border-radius: 8px;
  /* background-color: var(--hive-graphite); */
  padding: 2px;
  height: 100%;
}
.modeButton{
  min-width: 70px;
  transition: all 0.3s ease;
}

.leaderboardButton{
  display: inline-flex;
  justify-content: center;
  background-color: color-mix(in srgb, var(--hive-yellow) 70%, transparent 30%);
  border-radius: 5px;
  padding: 5px;
  color: var(--hive-yellow)
}
.leaderboardButton:hover{
background-color: red;
}


